*.o
*~
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cfgfile_parser.c
cfgfile_parser.h
cfgfile_scanner.c
config.h
config.h.in
config.log
config.status
configure
configure.lineno
csync2
#csync2.sql
depcomp
install-sh
missing
patch.txt
stamp-h1
ylwrap
*.log
hardlinks_*.txt
*.rsync
*.mysql
tests/*.diff
tests/test
*.cpp
mkstemp