build-stamp
configure-stamp
*.o
*~
*.db
.DS_Store
.deps/
.autotools
.cproject
*.dSYM/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
src/cfgfile_parser.c
src/cfgfile_parser.h
src/cfgfile_scanner.c
config.h
config.h.in
config.log
config.status
configure
configure.lineno
src/csync2
src/db_test_postgres
src/db_test_sqlite
src/db_test_mysql
src/database_example
#csync2.sql
depcomp
compile
test-driver
install-sh
missing
patch.txt
stamp-h1
ylwrap
*.log
*.rsync
*.mysql
*.cockroach
tests/*.diff
tests/test
test/prefix.cfg
mkstemp
version.h
version.h.new
digest
Debug/
debian/csync2/
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
.idea/
src/check_link_move.c
src/fsantize.txt
src/regfile_check_link.c
installed.txt
